
  <div class="d-flex align-items-center justify-content-center">
      <!-- Heading -->
      <h3 class="mb-4 mt-3">Employees List</h3>
  </div>
  
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Sr.No.</th>  
          <th scope="col">Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Password</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% for( let i = 0; i < employees.length; i++ ) { %>
            <tr>
              <th scope="row"><%= i+1 %></th>
              <td><%= employees[i]['name'] %></td>
              <td><%= employees[i]['last_name'] %></td>
              <td><%= employees[i]['email'] %></td>
              <td><%= employees[i]['password'] %></td>
              <td> 
                <a href="/admin/delete-employee/<%=employees[i]._id%>" class="btn btn-primary btn-sm">Delete</a>
              </td>
            </tr>
          <% } %>
        </tr>
      </tbody>
  </table>
